.container {
  width: auto;
  height: 800px;
  align-content: center;
}

.myheader {
  display: flex;
  justify-content: start;
  box-shadow: 0 5px #888888;
  padding: 20px 0 20px 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.heading {
  font-size: 4rem;
  color: black;
  padding: 30px 0 0 50px;
  text-align: center;
}

.menu {

  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#doggyImg {
  background: url(../images/dog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  height: 26em;
  display: flex;
  align-items: flex-end;
  object-fit: cover;

}
text-heading-tablet{
  display: none;
}

.text-heading {
  background-color: white;
  color: black;
  margin-left: 1px;
  margin-right: 1px;
  width: 100%;
  /* height: 17vh; */
  font-size: 1.3rem;

}

.top-news {
  margin-bottom: 20px;
  margin-top: 20px;
  color: darkgray;
}

.latest-news {
  margin-bottom: 20px;
  margin-top: 20px;
}

.top-news-heading1 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  box-shadow: 0 2px #888888;
  padding: 10px 0 10px 0;

}

.top-news-text {
  display: flex;
  justify-content: start;
  box-shadow: 0 2px #888888;
  padding: 15px;
}

table,
td,
th {
  padding: 10px;
}

.table {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.weather {
  margin-bottom: 20px;
}

.weather-tablet {
  display: none;
}

.Latest-news-logo {
  width: 8vw;
}

.latest-margin {
  margin: 30px 0 30px 0;
  font-size: 1rem;
}

.foot {
  padding: 30px;
  display: flex;
  border-top: 5px solid gray;
  box-shadow: 2px #888888;
  list-style-type: none;
}

@media screen and (max-width: 800px) and (min-width:600px) {

  #doggy-weather {
    display: flex;
    height: 20em;
    overflow: hidden;
    padding: 5px;
  }

  #doggyImg {
    background: url(../images/dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3px 0%;
    display: flex;
    align-items: flex-end;
    width: 60%;
}

  .text-heading-tablet {
    background-color: white;
    color: black;
    opacity: .8;
    margin-left: 1px;
    margin-right: 1px;
    height: 10vh;

  }


  .weather {
    display: none;
  }

  .weather-tablet {
    width: 40%;
    background-size: auto;
    padding-left: 20px;
    display: block;
  }



  table {
    padding: 10px;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }

  .table {
    margin-bottom: 20px;
  }

  tr:nth-child(odd) {
    background-color: darkslategrey;
  }

  td {
    border: 1px #dddddd;
    text-align: left;
    padding: 8px;
  }

  .text-heading {
    background-color: white;
    color: black;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 0.8rem;
    height: 25vh;
  }

  .Latest-news-logo {
    width: 11vw;
  }
}

@media screen and (max-width: 600px) and (min-width:300px) {
  table {
    padding: 10px;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }

  .table {
    margin-bottom: 20px;
  }

  tr:nth-child(odd) {
    background-color: darkslategrey;
  }

  td {
    border: 1px #dddddd;
    text-align: left;
    padding: 8px;
  }

  .text-heading {
    background-color: white;
    color: black;
    font-size: 0.8rem;
    overflow: hidden;
    
  }

}
